html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/geometry2.png');
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
  width: 100%;
  background: #2e3d49;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
  font-weight: 300;
}
.logo{
  margin-left: 30px;
}
.logo img{
  width: 50px;
}

 .start-box{
   margin-top: 5%;
   width: 80%;
   max-width: 400px;
   background-color: #2e3d49;
   border: solid 3px lightgrey;
   color: white;
   border-radius: 15px;
   padding: 30px;
 }

 .start-heading{
   font-size: 1.5rem;
   padding-bottom: 10px;
 }

 .start-button{
   width: 100%;
   height: 2rem;
   margin-top: 20px;
   background-color: lightgrey;
 }

.deck {
    /* width: 660px; */
    /* min-height: 680px; */
    width: 90%;
    max-width: 660px;
    min-width: 280px;
    height: 80vh;
    min-height: 350px;
    background: linear-gradient(lightgrey 0%, white 5%, skyblue 50%, orange 80%, lightgrey 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    max-height: 125px;
    max-width: 125px;
    height: 20%;
    width: 20%;
    margin: 5px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    pointer-events:none ;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    pointer-events:none ;
}

/*** Styles for the Score Panel***/
.score-panel {
    text-align: center;
    width: 100%;
    height: 30px;
    padding-top: 5px;
    margin-bottom: 10px;
    background-color: lightgrey;
    color: #2e3d49;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}
.timer{
  margin-left: 10px;
}

.score-panel .restart {
  display: inline;
    float: center;
    margin-left: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.score-panel .restart:hover {
  transform: rotate(180deg) scale(1.5);
}

/***Style for the result modal box***/

/* The Modal (background) */
.result-modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 15%;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: 160s;
  background-color: rgba(0,0,0,0.4);
}
.show {
  display: block;
}

.hide,
.hide-star {
  display: none;
}
/* Modal Content */
.result-modal-content{
  width: 80%;
  max-width: 400px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 3px lightgrey;
  border-radius: 15px;
}

.win-icon{
  width: 100%;
}
.win-icon img{
  width: 150px;
}
.message-box{
  width: 100%;
  margin-top: -15px;
  background-color: #2e3d49;
  border-radius: 15px;
  color: white;
  padding: 15px;
}

.win-heading{
  font-size: 1.5rem;
}
.play-again{
margin-top: 10px;
width: 100%;
height: 2rem;

}
.animate-modal-content{
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1s;
  animation-name: animatetop;
  animation-duration: 1s
}


/*Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
